@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Raleway:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1652f0;
}


/* UNIVERSAL */


.container-global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.spacer {
  min-height: 3rem;
  width: 100%;
}

.container-global-coin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;

}

.container-crypto {
  display: flex;
  flex-direction: column;
  width: max-content;
  color: rgb(61, 61, 61);
  background-color: transparent;
}

.container-update-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: rgb(61, 61, 61);
  background-color: transparent;
}

#tsparticles {
  position: absolute !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: -999 !important;
}

canvas {
  z-index: -999 !important;
}

#logo {
  text-align: center;
  color: white;
  margin-bottom: 1.2rem;
  font-size: 1.7rem;
}

.loader {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}

.spinner {
  color: white;
  width: 5rem;
  height: 5rem;
  z-index: 999;
}


/* NAVBAR */

.market-status-container {
  position: static;
  margin-left: 1.5rem;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 1rem;
}

.market-status {
  font-size: .7rem;
  margin: 0;
  padding: 0;
  padding: .2rem 0rem .2rem .5rem;
  color: rgb(61, 61, 61);
}

.market-status-green {
  font-size: .75rem;
  color: green;
  margin: 0;
  padding: .2rem .5rem .2rem 0rem;

}

.market-status-red {
  font-size: .75rem;
  color: red;
  margin: 0;
  padding: .2rem .5rem .2rem 0rem;
}

nav {
  z-index: 999 !important;
  width: 100% !important;
}

.custom-toggler {
  border-color: rgb(255, 255, 255, 0.7) !important;
}

.nav-logo,
.nav-logo:hover,
.nav-logo:focus {
  color: white;
  text-decoration: none;
  cursor: default;
}

.navbar {
  background-color: #1652f0 !important;
}

.nav-item a {
  font-size: 1rem;
  text-transform: uppercase;
  transition: ease .3s;
}



.navbar-brand {
  position: absolute !important;
  left: 1rem;
}

.logout-screen {
  position: absolute;
  top: 1rem;
  left: 46%;
}

.logout-screen p {
  color: rgb(255, 255, 255, 0.8);
  text-align: center;
  font-weight: 100;
}

.navbar-nav {
  margin-top: 3rem !important;
}

.nav-link,
.nav-link:hover,
.nav-link:focus {
  font-size: 2rem !important;
  text-transform: uppercase;
  transition: ease .3s;
}



/* FORMS */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 2.5rem 0 2.5rem 0;
  width: 100vw;
  border-radius: 1rem;
  transition: .5s ease;
}

input {
  font-size: 1.2rem !important;
  border-radius: 0 !important;
  border: none !important;
  font-weight: 300 !important;
}

select {
  color: rgb(255, 255, 255, 0.7) !important;
}

input:focus,
select:focus,
button:focus {
  outline: none !important;
}


input::placeholder {
  color: rgb(165, 165, 165) !important;
}

.form-control {
  color: rgb(61, 61, 61) !important;
  background-color: transparent !important;
  border: 1px solid !important;
  border-color: rgb(204, 204, 204) !important;
  width: 90vw !important;
}


.form-control:hover {
  border-color: #1652f0 !important;
}

.form-control:focus {
  border-color: #1652f0 !important;
}

.btn-secondary {
  margin-top: 1rem;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  color: white !important;
  background-color: #1652f0;
  transition: .5s ease;
  display: inline-block;
}

.btn-secondary:hover {
  border: 0;
  background-color: #4d7bf1;
}

.btn-secondary:focus {
  background-color: #4d7bf1;
}

.signin-query {
  color: white;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.signin-query-bold {
  font-weight: 600;
}

.signup-query {
  font-size: 1.3rem;
  color: rgb(255, 255, 255, 0.8);
  margin-top: 2rem;
  text-align: center;
}

.signup-query a {
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
}


/* ACCOUNT */


.profile-picture {
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
}

.username {
  color: rgb(61, 61, 61);
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.delete-user {
  background-color: rgb(238, 53, 53);
  margin-top: 5rem;
  transition: .5s ease;
}

.delete-user:hover {
  background-color: rgb(255, 0, 0, 0.8);
}


.watchlist-heading {
  color: rgb(61, 61, 61);
  font-size: 2.5rem;
  margin-top: 2rem;
  text-align: center;
}

.watchlist-heading-query {
  font-weight: 300;
  font-size: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  text-align: center;
}


/* UPDATE */


.update-desk {
  margin-top: 15vh;
}


/* SIGNUP */


.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgb(255, 0, 0, 0.7);
  text-align: center;
}

#error {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  color: white;
}


/* UPDATE ACCOUNT */


.btn-update {
  width: 100%;
}

.user-info {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 1rem;
  padding: 2.5rem 0 2.5rem 0;
}

.account-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin-bottom: 1rem;
}

.profile-picture-update {
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  height: width;
  margin: .5rem .25rem .5rem .25rem;
}

.profile-picture-update:hover {
  cursor: pointer;
}

.profile-picture-update-active {
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  border: 5px solid #1e77eb;
}


/* CRYPTO */


.stat-headings {
  display: flex;
  flex-direction: row;
  border-radius: 1rem 1rem 0 0;
  background-color: rgb(255, 255, 255, 0.4);
  width: 100%;
}

.stat-title {
  color: rgba(0, 0, 0, 0.5);
  font-size: inherit;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.stat-title-small {
  font-size: .6rem;
  margin: 0;
  padding: 0;
}

.stats-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-right: 1rem;
  margin-left: 2rem;
}

.stats-spacer {
  margin-left: 1rem;
  margin-right: 2rem;
  min-width: 30%;
  max-width: 30%;
}

.stat-volume,
.stat-mc,
.stat-price,
.stat-change {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stat-price,
.res-price {
  margin-right: 1rem !important;
}

.res-mc,
.res-volume,
.res-change,
.res-price,
.stat-volume,
.stat-mc,
.stat-price,
.stat-change {
  font-size: 1rem;
  min-width: 20%;
  max-width: 20%;
  margin: 0;
  padding: 0 .5rem 0 .5rem;
  text-align: center;
}

.res-mc p,
.res-volume p,
.res-change p,
.res-price p {
  margin: 0 !important;
}

.res-change-account,
.res-price-account {
  min-width: 50%;
  max-width: 50%;
  font-size: 1rem;
  margin: 0;
  padding: 0 .5rem 0 .5rem;
  text-align: center;
}

.container-pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: cnter;
  height: 8vh;
}

.btn-page {
  border: 0 !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem !important;
  padding: 0.05rem 0.1rem !important;
  color: white !important;
  background-color: #1652f0;
  transition: .5s;
  display: inline-block;
  margin: .5rem .5rem .5rem .5rem !important;
  width: 15%;
}

.btn-page:hover {
  border: 0;
  background-color: #1652f0;
}

.btn-page:focus {
  border: 0;
  background-color: #1652f0;
  outline: 0 !important;
  box-shadow: none !important;
}

.btn-page-active {
  background-color: #4d7bf1;
}

.btn-page-active:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.container-coins {
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 1rem;
}

.container-coins-account {
  background-color: transparent;
  border-radius: 1rem;
}

.coin-single {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  min-width: 100%;
  background-color: rgb(255, 255, 255, 0.4);
  border-radius: 1rem;
}

.coin-single:nth-of-type(1) {
  margin-top: 1.5rem
}

.coin-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
  margin-right: 2rem;
  min-width: 30%;
  max-width: 30%;
}

.coin-image {
  max-width: 14vw;
  max-height: 100%;
  object-fit: contain;
}

.coin-name {
  font-size: 1.3rem;
  display: inline-block;
  margin-left: 2rem;
}

.coin-market {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 1rem;
  margin-left: 2rem;
  text-align: right;
  width: 100%;

}

.coin-price {
  font-size: .9rem;
}

.coin-price-account {
  font-size: .9rem;
}

.coin-symbol {
  font-size: 1rem;
  text-transform: uppercase;
}

.coin-change {
  font-size: .9rem;
  color: green;
}

.coin-change-account {
  font-size: .9rem;
  color: green;
}

.coin-change-account-red {
  font-size: .9rem;
  color: red;
}

.coin-change-red {
  font-size: .9rem;
  color: red;
}

.container-filter-coins {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.filter-currency {
  color: white;
  font-size: 1rem;
  flex: 1;
  background-color: transparent;
  border: 0;
  margin: 0 .5rem 0 .5rem;
}

.btn-filter {
  flex: 1 !important;
  font-size: .6rem !important;
  padding: .2rem !important;
  margin: 0 !important;
  border-radius: 0 !important;
  margin: 0 .5rem 0 .5rem !important;
}



/* COIN */

.coin {
  margin-top: 15vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 2.5rem 0 2.5rem 0;
  width: 100vw;
  border-radius: 1rem;
}

.coin-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
}

.coin-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

.coin-upper-info {
  margin-left: 2rem;
  margin-right: 2rem;
}

.coin-image-large {
  margin-left: 1rem;
  width: 30vw;
  max-height: 100%;
  object-fit: contain;
}

.coin-heading {
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.coin-heading span {
  text-transform: uppercase;

}

.coin-lower {
  max-height: 35vh;
  overflow-y: scroll;
  width: 100vw;
}

.coin-desc {
  color: rgb(61, 61, 61);
  font-size: 1rem;
  padding: 0rem 1.5rem 0rem 1.5rem;
  text-align: center;
}

.coin-mid {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #1652f0;
  width: 100vw;
  background-color: rgb(255, 255, 255, 0.2);
}

.coin-perc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 25vw;
  height: 25vw;

}

.coin-perc-type {
  font-size: 1.1rem;
  color: rgb(61, 61, 61);
  margin: 0;
  padding: 0;
  text-align: center;
}

.coin-perc-green {
  font-size: 1.3rem;
  color: green;
}

.coin-perc-red {
  font-size: 1.3rem;
  color: red;
}

.btn-dup {
  background-color: red;
  transition: .5s ease;
}

.btn-dup:hover,
.btn-dup:focus {
  background-color: rgb(245, 79, 79);
}


@media (min-width: 767px) {

  .market-status-container {
    position: relative;
    left: 10%;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 1rem;
  }

  .market-status {
    font-size: .8rem;
    margin: 0;
    padding: 0;
    padding: .5rem 0rem .5rem 1rem;
    color: rgb(61, 61, 61);
  }

  .market-status-green {
    font-size: .9rem;
    color: green;
    margin: 0;
    padding: .5rem 1rem .5rem 0rem;

  }

  .market-status-red {
    font-size: .9rem;
    color: red;
    margin: 0;
    padding: .5rem 1rem .5rem 0rem;

  }

  .navbar-nav {
    margin-top: 0 !important;
  }

  .nav-link {
    font-size: 1rem !important;
  }

  .nav-link:hover,
  .nav-link:focus {
    font-size: 1.1rem !important;
  }

  #logo {
    display: none;
  }

  .global-desk {
    display: flex;
    height: inherit !important;
    flex-direction: row-reverse;
    height: 100vh !important;
    overflow-y: visible !important;
  }

  form {
    width: 30vw;
  }

  .form-control {
    width: 20vw !important;
  }

  .sq-desk {
    margin-left: 3rem;
  }

  .user-info {
    display: flex;
    margin-top: 15vh;
    left: 0 auto;
    flex-direction: row;
    width: 70vw;
    padding: 2.5rem 2rem 2.5rem 3rem;
    border-radius: 1rem;
  }

  .profile-picture {
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
  }

  .crypto-desk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-coins-desk {
    width: 75%;
  }

  .coin {
    margin-top: 15vh;
    align-items: center;
    width: 60vw;
  }

  .coin-image-large {
    margin-left: 1rem;
    width: 10vw
  }

  .coin-single-desk {
    width: 100%;
  }

  .coin-desc {
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;
  }

  .coin-perc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 10vw;
    height: 10vw;

  }

  .coin-mid {
    margin-bottom: 1rem;
    width: 60vw;
  }

  .coin-lower {
    height: inherit;
    width: 60vw;
  }

  .btn-dup {
    font-size: 1.2rem;
    margin-bottom: 0 !important;
  }

  .btn-dup:focus {
    font-size: 1.2rem;
  }

  .coin-upper {
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
  }

  .coin-heading {
    font-size: 2rem;
  }

  .profile-picture-update {
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    height: width;
    margin: .5rem .25rem .5rem .25rem;
  }

  .profile-picture-update-active {
    width: 6vw;
    height: 6vw;
    border: 3px solid #1e77eb;
  }

  .update-picture {
    width: 30vw;
    margin-bottom: 1rem;
  }

  .update-desk {
    padding: 1rem 0 1rem 0 !important;
  }

  .delete-user {
    margin-top: 3rem;

  }

  .container-coins {
    width: 70vw;
  }

  .coin-single:nth-of-type(1) {
    margin-top: 3rem
  }

  .coin-info {
    justify-content: left;
    margin-left: 1.5rem;
  }

  .signup-query {
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .signup-query a {
    font-size: 1.05rem;
  }

  .error-container {
    width: 30vw;
  }

  #error {
    font-size: 1.2rem;
  }

  .account-panel {
    margin-top: 2rem;
    height: min-content;
    margin-right: 2rem;
  }

  .signin-query-desk {
    margin-bottom: 1.5rem;
  }

  .signup-query-desk-s {
    margin-bottom: 0;
  }

  .container-pages {
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 10vh;
  }

  .coin-image {
    max-width: 8vw;
  }

  .coin-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60vw;
  }

  .coin-single {
    height: 20vh;
  }


  /* CRYPTO */


  .stat-headings {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255, 0.4);
  }

  .stat-title {
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    font-weight: 300;
  }

  .stat-title-small {
    font-size: .7rem;
  }

  .stats-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    margin-right: 1rem;
    margin-left: 2rem;
  }

  .stat-volume,
  .stat-mc,
  .stat-price,
  .stat-change {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .stat-price {
    margin-right: 1rem;
  }

  .container-crypto {
    justify-content: center !important;
    align-items: center !important;
    overflow-x: hidden !important;
    width: 100vw;
  }

  .coin-change-account {
    font-size: 1.3rem;
    color: green;
  }

  .coin-change-account-red {
    font-size: 1.3rem;
    color: red;
  }

  .coin-price-account {
    font-size: 1.3rem
  }
}